:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #ff7f50;
  --title-text-color: #FFFFFF;
  --text-color: #212121;
  --address-color: #2196F3;
}
  
.menu-link,
.menu-site,
.logo,
.site-nav,
.work-list,
.contact-links,
.mail-links,
.phone-links,
.contact-phone-numbe {
  text-decoration: none;
}
  
.menu-list, 
.site-nav,
.section-list,
.address-list,
.work-list,
.work-item {
  list-style: none;
}
  
.img {
  display: block;
}
  
.button {
  cursor: pointer;
}
  
/*--body--*/
  
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.3%;
  background-color: #FFFFFF;
  color: #000000;
}
  
.page-logo,
.address-logo {
  font-family: 'Raleway' sans-serif;
  font-size: 26px;
  line-height: 1.14;
  color: var(--address-color);
}
.page-list,
.address-item  {
  font-family: 'Raleway' sans-serif;
  font-size: 26px;
  line-height: 1.14;
  color: var(--text-color);
}
  
.menu-link.link {
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.2%;
  color: var(--text-color);
}

.menu-link.item {
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.2%;
  color: var(--address-color);
}

.menu-site:hover,
.menu-site:focus {
  color: var(--accent-color);
}
  
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
  
.contact-phone-number {
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
}
  
  .contact-phone-number:hover,
  .contact-phone-number:focus {
    color: var(--accent-color);
  }
  
/*--work--*/

.work-title {
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 2;
  color: var(--text-color);
}

.text {
  font-family: var(--primary-font);
  font-size: 16px;;
  line-height: 1.8;
  color: #757575;
}

.user {
  background-color: #F5F5F5;
}

/*--address--*/
  
.address {
  background-color:#2F303A;
}
  
.address-item  {
  font-family: 'Raleway' sans-serif;
  font-size: 26px;
  line-height: 1.2;
  color: var(--title-text-color);
}
   
.contact-links {
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--title-text-color);
}
  
.mail-links,
.phone-links {
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
  
.mail-links:hover,
.mail-links:focus {
  color: var(--address-color);
}
  
.phone-links:hover,
.phone-links:focus {
  color: var(--address-color);
}
  