:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #ff7f50;
  --title-text-color: #FFFFFF;
  --text-color: #212121;
  --address-color: #2196F3;
}
 
.link {
  text-decoration: none;
}
  
.list {
  list-style: none;
}
  
.img {
  display: block;
}
  
.button {
  cursor: pointer;
}
  
/*--body--*/
  
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.3;
  background-color: #F5F5F5;
  color: #000000;
}
  
.page-logo,
.address-logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.3;
  color: var(--address-color);
}
.page-list, 
.address-item {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
}
  
.menu-link.link {
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.2%;
  color: var(--text-color);
}

.menu-link.item {
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.2%;
  color: var(--address-color);
}

.menu-site:hover,
.menu-site:focus {
  color: var(--accent-color);
} 
   
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
  
.menu-site,
.contact-phone-number {
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.2%;
  color: #757575;
}
  

.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--accent-color);
}
  
/*--hero--*/

.hero {
background-color: #2F303A;
}

.hero-title {
  font-size: 44px;
  Line-height: 1.3;
  text-align: center;
  color: #FFFFFF;
}

.button.primary {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.6%;
  background-color: var(--address-color);
  color: var(--title-text-color);
}

.title {
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.3%;
  color: var(--text-color);
}

.text {
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.3%;
  color: #757575;
}

.post-section {
  background-color: #F5F4FA;
}

.user {
  background-color:var(--title-text-color);
}

.section-item,
.post {
  font-family: var(--primary-font);
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.3%;
  text-align: Center;
  color: var(--text-color);
}

.post-title {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.3%;
  text-align: Center;
  color: var(--text-color);
}

.post-text {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.3%;
  text-align: Center;
  color: #757575;
}
  
/*--address--*/
  
.address {
  background-color:#2F303A;
}
   
.contact-links {
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7px;
  letter-spacing: 0.3%;
  color: var(--title-text-color);
}
  
.mail-links,
.phone-links {
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7px;
  letter-spacing: 0.3%;
  color: rgba(255, 255, 255, 0.6);
}
  
.mail-links:hover,
.mail-links:focus {
  color: var(--address-color);
}
  
.phone-links:hover,
.phone-links:focus {
  color: var(--address-color);
}